@tailwind base;

@tailwind components;

@tailwind utilities;

/* postcss-100vh-fix not working with postcss 8*/
.h-screen-ios {
  height: 100vh;
}

@supports (-webkit-touch-callout: none) {
  .h-screen-ios {
    /* The hack for Safari */
    height: -webkit-fill-available;
  }
}